body {
    font-family:  Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
 

.personal-info, 
.registration-info {
    display: flex;
    flex-direction: column;
}