.form {
    display: flex;
    flex-direction: column;
    font-size: 24px;

    
    &__label {
        margin-bottom: 8px;
    }

    &__input {
        display: block;
        padding: 8px;
        font-size: 24px;
        border-radius: 8px;
        border: 2px solid grey;
        outline: none;
        margin-bottom: 8px;

        &:hover, 
        &:focus {
            border: 2px solid rgb(248, 181, 56);
        }
    }
    
    &__button {
        padding: 8px 16px;
        font-size: inherit;
        background-color: rgb(248, 181, 56);
        border: none;
        border-radius: 8px;

        &:hover {
            background-color: yellow;
        }
    }
}
 
.input-control {
    min-height: 120px;
    display: flex;
    flex-direction: column;
}

.error {
    display: block;
    width: 100%;
    font-size: 16px;
    color: rgb(186, 54, 54);
    border-color:red;
}

.errored {
    border-color: red;
}

.success {
    border-color: green;
}

